@import "../../vars.scss";

.hall-of-fame {
  width: 50%;
  min-width: 320px;
  margin: 0 auto;
  color: $text-base;
  & table {
	border-collapse: collapse;
	& tr {
	  & td, th {
		border-bottom: 1px dotted $text-base;
		text-align: left;
		padding: 10px 0;
		line-height: 31px;
		strong {
		  color: $color-secondary;
		}
	  }
	  &:last-child td {
		border: none;
	  }
	}
  }
  .label {
	background: tomato;
	padding: 5px 10px;
	font-family: Monaco, monospace;
	color: #fff;
	border-radius: 3px;
	font-weight: 700;
  }

  input[type="search"] {
	padding: 5px;
	line-height: 11px;
	border: 1px solid $color-secondary;
	font-size: 16px;
	border-radius: 3px;
	width: 100%;
	color: $color-secondary;
	&::-webkit-input-placeholder { /* Chrome */
	  color: $color-secondary;
	  opacity: .5;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $color-secondary;
	  opacity: .5;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $color-secondary;
	  opacity: .5;
	}
	&:-moz-placeholder { /* Firefox 4 - 18 */
	  color: $color-secondary;
	  opacity: .5;
	}
	&:focus {
	  outline: none;
	}
  }
}
