.text-danger {
  color: #f44336; }

.text-success {
  color: #4CAF50; }

.text-warn {
  color: #FFC107; }

.text-info {
  color: #2196F3; }

.hall-of-fame {
  width: 50%;
  min-width: 320px;
  margin: 0 auto;
  color: #555; }
  .hall-of-fame table {
    border-collapse: collapse; }
    .hall-of-fame table tr td, .hall-of-fame table tr th {
      border-bottom: 1px dotted #555;
      text-align: left;
      padding: 10px 0;
      line-height: 31px; }
      .hall-of-fame table tr td strong, .hall-of-fame table tr th strong {
        color: tomato; }
    .hall-of-fame table tr:last-child td {
      border: none; }
  .hall-of-fame .label {
    background: tomato;
    padding: 5px 10px;
    font-family: Monaco, monospace;
    color: #fff;
    border-radius: 3px;
    font-weight: 700; }
