.text-danger {
  color: #f44336; }

.text-success {
  color: #4CAF50; }

.text-warn {
  color: #FFC107; }

.text-info {
  color: #2196F3; }

body,
html {
  background: #d2d2f7; }

body {
  font-family: 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  color: #555; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: 300; }

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; }

.hr-top {
  border-top: 1px dotted #555;
  padding: 10px 0 0 0; }

.puzzle {
  margin: 0 auto;
  text-align: center; }

.board {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative; }

.running-props {
  margin: 0 0 20px 0; }

.btn-start, .won a {
  border: 1px solid tomato;
  color: tomato;
  padding: 5px 10px;
  margin: 20px 0 10px 0;
  line-height: 21px;
  height: 21px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none; }
  .btn-start.fill, .won a.fill, .btn-start:hover, .won a:hover {
    background: tomato;
    color: #fff; }

.won {
  border: 1px solid #fff;
  display: block;
  color: #555;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 50px #555;
  position: fixed;
  width: 50%;
  z-index: 6;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .won input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 31px;
    margin: 10px;
    padding: 0 5px;
    font-size: 20px;
    width: 80%; }
  .won a {
    margin: 0; }
    .won a.close {
      position: absolute;
      top: 10px;
      right: 10px; }

.fadeIn-enter {
  opacity: 0.01;
  width: 0; }

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms; }

.fadeIn-leave {
  opacity: 1;
  width: 100px; }

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  width: 0;
  transition: 700ms; }

.text-danger {
  color: #f44336; }

.text-success {
  color: #4CAF50; }

.text-warn {
  color: #FFC107; }

.text-info {
  color: #2196F3; }

.tile,
.tile-empty {
  background: #555;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px #000;
  box-sizing: border-box;
  display: flex;
  font-size: 26px;
  justify-content: space-around;
  text-align: center; }

.tile > span {
  color: tomato;
  text-shadow: 0 1px 1px #fff;
  font-size: 2em; }

.tile-empty {
  box-shadow: 1px 1px 22px #000 inset;
  opacity: .5;
  transition: all 1s ease; }

.tile-empty:hover {
  box-shadow: 1px 1px 22px #000 inset; }

.tile {
  background-image: url(/images/bg.jpg);
  background-size: 400% 400%; }

.tile-1 {
  background-position: 0 0; }

.tile-2 {
  background-position: 33% 0; }

.tile-3 {
  background-position: 66% 0; }

.tile-4 {
  background-position: 100% 0; }

.tile-5 {
  background-position: 0 33%; }

.tile-6 {
  background-position: 33% 33%; }

.tile-7 {
  background-position: 66% 33%; }

.tile-8 {
  background-position: 100% 33%; }

.tile-9 {
  background-position: 0 66%; }

.tile-10 {
  background-position: 33% 66%; }

.tile-11 {
  background-position: 66% 66%; }

.tile-12 {
  background-position: 100% 66%; }

.tile-13 {
  background-position: 0 100%; }

.tile-14 {
  background-position: 33% 100%; }

.tile-15 {
  background-position: 66% 100%; }
