@import 'vars.scss';

body,
html {
  background: $bg-color;
}

body {
  font-family: 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  color: $text-base;
  & h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.hr-top {
  border-top: 1px dotted $text-base;
  padding: 10px 0 0 0;
}

.puzzle {
  margin: 0 auto;
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}

.running-props {
  margin: 0 0 20px 0;
}

.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: 700ms;
}

.fadeIn-leave {
  opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  position: absolute;
  top:1000px;
  transition: 700ms;
}

input[type="range"] {
  margin: 2px 20px 0px 0px;
}

.image-changer {
  width:100%;
  text-align: center;
}

.spin {
  animation: spin .5s infinite linear;
  display: inline-block;
}

@keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

@import 'components/board/Tile.scss';
